//COLORS
$white-color: #FFFFFF;
$black-color: #000000;
$dark-grey-color: #444444;
$mid-grey-color: #DEDEDE;
$light-grey-color: #EFEFEF;
$cyan-color: #2BB7B3;
$red-color: #FF0000;
$green-color: #006300;
$yellow-color: #ffd52a;

$facebook-color: #1777f2;
