@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

button {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.05);
}
